@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    --very-pale-blue: hsl(225, 100%, 98%);
    --desurated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--pale-blue);
    font-family: 'Red Hat Display', sans-serif;
    color: var(--desurated-blue);
    height: 100vh;
    text-align: center;
}

h1 {
    color: var(--dark-blue);
    margin-top: 30px;
    font-weight: 900;
}

span {
    font-weight: 900;
    color: var(--dark-blue);
}

.bg__picture {
    background: url('../images/pattern-background-mobile.svg') no-repeat center / cover;
    min-height: 110vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    top: -450px;
    right: -300px;
    z-index: -1;
}

/* Information section */

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0 25px;
    padding: 0 0 30px 0;
    border-radius: 20px;
}

.card-container .header {
    background: url('../images/illustration-hero.svg') no-repeat center / cover;
    position: relative;
    width: 100%;
    height: 160px;
    border-radius: 20px 20px 0 0;
}

.card-container p {
    font-size: 0.9rem;
    margin-top: 10px;
    padding: 0 40px;
}

/* Membership section */

.membership-container {
    display: flex;
    background-color: var(--very-pale-blue);
    margin-top: 25px;
    padding: 10px 15px;
    border-radius: 10px;
    width: 90%;
    font-size: 0.8rem;
    text-align: left;
}

.membership-container img {
    width: 45px;
    height: 45px;
}

.membership-container > div {
    display: inline-flex;
    align-items: center;
}

.membership-container ul {
    list-style: none;
    margin-left: 15px;
}

.membership-container a {
    font-weight: 700;
    font-size: 0.8rem;
    color: var(--bright-blue);
}


/* Buttons */

.btn-pay {
    margin-top: 20px;
    background-color: var(--bright-blue);
    font-family: 'Red Hat Display', sans-serif;
    color: #fff;
    width: 90%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    box-shadow: 10px 10px 10px 0px rgba(94, 82, 223, 0.2);
}

.btn-cancel {
    margin-top: 20px;
    background-color: transparent;
    border: none;
    color: var(--desurated-blue);
    font-weight: 900;
}

/* Attribution section */

.attribution {
    margin-top: 30px;
}

.attribution a {
    color:hsl(245, 75%, 52%);
}

/* Settings for desktop */

@media only screen and (min-width: 1440px) {
    .bg__picture {
        background: url('../images/pattern-background-mobile.svg') no-repeat center / cover;
        min-height: 110vh;
        position: absolute;
        bottom: 0;
        left: 0;
        bottom: 300px;
        z-index: -1;
    }
    
    .card-container {
        width: 350px;
    }
}